img{
	transform: scale(0.5);
	border-radius: 100%;
	width: 100%;
}
.image{
	background-color: #00BCD4;
}
.prenom{
	color: #0D47A1;
}
.metier{
	text-decoration: underline #0D47A1;
}
h3{
	border: 1px solid #0D47A1;
	text-align: center;
	background-color: #0D47A1;
}
p{
	text-align: justify;
}
.sidebar{
	background-color: #00BCD4;
}
.kiffe{
	display: flex;
	justify-content: space-around;
	margin: 0; 
}
.kiffe i{
	border: 1px solid #0D47A1;
	border-radius: 100%;
	padding: 5%;
}
h4{
	border-bottom: 1px solid #0D47A1;
}
.wrapper i{
	margin-right: 20%;
}
.lieu{
	margin-left: 40%;
}
.far{
	margin-left: 45%;
}
.date{
	margin-left: 35%;
}
@media (min-width: 700px){
	.site{
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 2fr 5fr;
	grid-template-areas: 
		"header header"
		"sidebar wrapper"
		
}
.header{
	grid-area: header;
	
}
.sidebar{
	grid-area: sidebar;
}
.sidebar p{
	padding: 5%;
}
.wrapper{
	grid-area: wrapper;
	margin-left: 10%;
	margin-right: 5%;
}
.image{
	grid-column: 1;
	grid-row-start: 1;
	border: 1px solid #00BCD4;
}
h3, h4{
	font-size: 1.3rem;
}
p{
	font-size: 1rem;
}
.grandtitre{
	margin-left: 50%;
	margin-top: 10%;
	font-size: 1.7rem;
}
.contact{
	margin-bottom: 20%;
}
#loisir{
	margin-top: 230%;
}
.formation{
	display: grid;
	grid-template-columns: 10% 30% 60%;
	grid-template-rows: 30% 30%;
}
.far{
	grid-column: 1;
	grid-row: 1;
	float: left;
	margin-top: 34%;
	margin-left: 0;
}
.date{
	grid-column-start: 2;
	grid-row: 1;
}
.lieu{
	grid-column-start: 2;
	grid-row: 2;
}
.etude{
	grid-column: 3;
	grid-row: 1;
	margin-top: -2%;
}
#reco{
	margin-left: 20%;
}
@media (min-width: 1200px){
	p{
		font-size: 1.5rem;
	}
	h1, h2{
		font-size: 3rem;
	}
	h3, h4{
		font-size: 2rem;
	}
	h5{
		font-size: 1.5rem;
	}
	.sidebar p{
		padding-right: 5%;
		padding-left: 5%;
	}
	#loisir{
		margin-top: 170%;
	}
}